body{
    padding: 0;
    margin: 0;
    font-family: 'Antic Slab', serif;
    background-color: #f6f6f6;
}
div, p{
    padding: 0;
    margin: 0;
}
header{
    height: 240px;
    position: relative;
    z-index: 1;
}
header h1, header h2{
    margin: 0 auto;
}
header h1{
    text-transform: uppercase;
    font-size: 189px;
    line-height: 136px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 60px;
    font-stretch: ultra-expanded;
    font-weight: 400;
    color: #273D46;
    opacity: .1;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: all ease 1s;
}
header h2{
    text-align: center;
    background-color: #80B7B3;
    color: #FFFFFF;
    font-size: 60px;
    line-height: 60px;
    width: 215px;
    padding: 42px 42px 29px;
    z-index: 2;
}
/* nav bar */
nav{
    position: absolute;
    top: 0;
    margin: 106px 0 0 148px;
}
.visuallyHidden {
    display: none;
}
.hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.hamburger .bar1, .hamburger .bar2, .hamburger .bar3, .hamburger .bar4 {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #939EA2;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}
.bar1 {
    top: 0;
}
.bar2,.bar3 {
    top: 13.5px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
.hamburger .bar1, .hamburger .bar4 {
    transform-origin: 5%;
}
.checkbox:checked + label > .hamburger > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}
.checkbox:checked + label > .hamburger > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}
.checkbox:checked + label > .hamburger > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}
.checkbox:checked + label > .hamburger > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}
/*Section1*/
section.story-1{
    margin-top: 68px;
    position: relative;
}
div.story-1-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 2;
}
div.story-1-text{
    margin-left: 150px;
    width: 424px;
    font-stretch: ultra-expanded;
    justify-self: center;
}
div.story-1-text span, div.story-2-text-start span,
div.story-4-text span, div.story-4-part-2 p:last-of-type span{
    text-transform: uppercase;
    color: #273D46;
    opacity: 0.6;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
div.story-1-text p, div.story-2-text p{
    color: #273D46;
    opacity: .8;
    font-size: 20px;
    text-align: left;
    width: 340px;
    line-height: 30px;
}
div.story-1-text p:first-of-type, div.story-4-text p:first-of-type{
    opacity: 1;
    font-size: 30px;
    text-align: left;
    letter-spacing: -.5px;
    padding: 30px 0 80px;
    height: 80px;
    width: auto;
    line-height: normal;
}
div.story-1-text p:last-of-type, div.story-2-text p:last-of-type{
    padding-top: 50px;
}
div.story-1-text a, div.story-2-text a,
div.story-4-part-2 a{
    display: block;
    text-decoration: none;
    width: 200px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #80B7B3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 22.5px;
    margin-top: 41px;
    margin-left: -10px;
}
div.story-1-text a:hover, div.story-2-text a:hover,
div.story-4-part-2 a:hover,
div.contact form button:hover{
    background-color: #939EA2;
    transition: all ease 1s;
}
div.story-1-img{
    height: 573px;
    width: auto;
    overflow: hidden;
    padding: 20px 0 20px 20px;
    background-color: #FFFFFF;
    justify-self: end;
    margin-top: 25px;
}
/*****SECTION END*****/
div.story-1-end, div.story-2-end, div.story-4-end{
    width: 1065px;
    position: absolute;
}
div.story-1-end{
    top: 110px;
}
div.story-1-end>p, div.story-2-end>p, div.story-4-end>p{
    display: block;
    width: 1445px;
    height: 1px;
    background-color: #E5E5E5;
    position: absolute;
    z-index: -1;
}
div.story-1-end>p{
    top: 0;
    right: 50px;
    transform: rotate(-40deg) translate(-150px, 420px);
}
div.story-1-end>p:last-of-type{
    top: 100px;
    right: 300px;
}
div.story-1-end>p span, div.story-2-end>p span, div.story-4-end>p span{
    display: inline-block;
    background-color: #E5E5E5;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    right: -700px;
    bottom: 16px;
}
div.story-1-end>p:last-of-type span{
    right: -1200px;
}
div.story-1-end div.story-1-end-img{
    background-color: #FFFFFF;
    padding: 20px;
    width: 333px;
    height: 208px;
    position: absolute;
    right: -300px;
    transition: all ease 1s;
}
div.story-1-end div.story-1-end-img img{
    width: inherit;
    height: inherit;
}
/*Section2*/
.story-2{
    margin: 100px auto 0;
    max-width: 840px;
    position: relative;
}
div.story-2-text-start{
    text-align: center;
}
div.story-2-text-start p{
    opacity: 1;
    font-size: 30px;
    letter-spacing: -.5px;
    padding: 30px 0 60px;
    height: 86px;
    width: 710px;
    line-height: normal;
    margin: 0 auto;
}
div.story-2-img{
    background-color: #FFFFFF;
    padding: 20px;
}
div.story-2-img img{
    width: 100%;
}
div.story-2-text{
    margin-top: 96px;
}
div.story-2-text p{
    width: auto;
    max-width: 744px;
    margin: 0 auto;
}
div.story-2-text a{
    margin: 50px 0 110px 48px;
}
div.story-2-end{
    top: 0;
    overflow: hidden;
    height: 1000px;
}
div.story-2-end>p, div.story-4-end>p{
    bottom: 0;
    left: 50px;
    transform: rotate(-40deg) translate(150px, -420px);
}
div.story-2-end>p:last-of-type, div.story-4-end>p:last-of-type{
    bottom: 100px;
    left: 300px;
}
div.story-2-end>p:first-of-type span, div.story-4-end>p:first-of-type span{
    right: -1200px;
}
/*section3*/
div.video-section-3{
    width: 100%;
    height: 510px;
    margin-bottom: 80px;
}
/*section4*/
.story-4{
    position: relative;
    max-width: 1200px;
    margin: 50px auto 67px;
    display: grid;
}
div.story-4-part-1{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}
div.story-4-img{
    height: 286px;
    width: 429px;
    padding: 20px;
    background-color: #FFFFFF;
}
div.story-4-img img{
    width: inherit;
    height: inherit;
}
div.story-4-text{
    padding-left: 50px;
}
div.story-4-part-2{
    width: 752px;
    height: 314px;
    background-color: #FFFFFF;
    position: relative;
    top:-54px;
    justify-self: center;
}
div.story-4-part-2 p{
    margin: auto;
    width: 550px;
}
div.story-4-part-2 p:first-child{
    padding-top: 67px;
    font-size: 30px;
    font-style: italic;
}
div.story-4-part-2 p:last-of-type{
    padding-top: 30px;
    letter-spacing: 1px;
}
div.story-4-part-2 p span:first-child{
    font-weight: 600;
}
div.story-4-part-2 a{
    margin: 34.5px auto 0;
}
div.story-4-end{
    top: 0;
    right: 100px;
    height: 800px;
    overflow: hidden;
    z-index: -1;
}
/*footer*/
footer{
    height: 634px;
    width: 100%;
    background-image: url(img/photo-1418065460487-3e41a6c84dc5@1X.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    justify-items: center;
}
footer div.contact{
    width: 671px;
    height: 328px;
    background-color: #3C4F57;
    border-radius: 3px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
div.contact>p{
    color: #FFFFFF;
    opacity: .8;
    font-size: 16px;
    text-align: center;
    width: 440px;
}
div.contact form{
    align-self: start;
}
div.contact form input{
    width: 248px;
    height: 46px;
    border-radius: 23px;
    background-color: #2F3E44;
    border: 1px solid #939ea29c;
    margin: 0 20px;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 40px;
}
div.contact form input::placeholder{
    color: #FFFFFF;
    opacity: .8;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}
div.contact form p:last-of-type{
    width: 233px;
    margin: 30px auto 0;
}
div.contact form button{
    width: inherit;
    height: 45px;
    background-color: #80B7B3;
    border-radius: 22.5px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    cursor: pointer;
}
/*media*/
@media(max-width:1900px){
    div.story-1-end div.story-1-end-img{
        right: -100px;
    }
}
@media(max-width:1700px){
    div.story-1-end div.story-1-end-img{
        right: 0;
    }
}
@media(max-width:1600px){
    div.story-1-img{
        width: 700px;
    }
    div.story-1-text{
        justify-self: start;
    }  
}
@media(max-width:1400px){
    div.story-1-end div.story-1-end-img{
        right: 200px;
    }
}
@media(max-width:1290px){
    header h1{
        font-size: 150px;
    } 
}
@media(max-width:1250px){
   nav{
        margin-left: 50px;
    }
    div.story-1-group{
        overflow: hidden;
    }
    .story-4{
        max-width: 840px;
    }
    div.story-4-part-1{
        max-width: 840px;
    }
    div.story-4-part-2{
        justify-self: end;
    }
    div.story-2-end{
        width: 800px;
        top: 300px;
    }  
}
@media(max-width:1200px){
    div.story-1-end{
        width: 800px;
    }
    div.story-1-group{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    div.story-1-img{
        justify-self: center;
    }
    div.story-1-img{
        padding-right: 20px;
        width: auto;
    }
    div.story-1-end div.story-1-end-img{
        right: -150px;
    }
    div.story-1-text{
        width: 500px;
    }
     div.story-1-text p{
        width: 400px;
    } 
}
@media(max-width:1000px){
    header h1{
        font-size: 80px;
    } 
    div.story-1-text{
        margin-left: 50px;
    }
}
